:root {
    font-family: Roboto, sans-serif;
    font-size: 20px;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    margin: 0;
}


nav {
    background-color: #3730a3;
    min-width: 13rem;
    max-width: 13rem;
    min-height: 100vh;
    color: white;
}
#logo {
    height: 4rem;
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    padding-left: 1rem;
}
#logo img {
    height: 50%;
}
#navMenu {
    display: flex;
    margin-top: 3rem;
    flex-direction: column;
    padding-left: 2rem;
}
#navMenu a {
    height: 2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
}
#navMenu a img {
    height: 1rem;
    padding-right: 0.5rem;
}

main {
    min-height: 100vh;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
header {
    background-color: white;
    height: 10rem;
    box-shadow: grey 3px 3px 10px;
    position: relative;

}
.header {
    height: 50%;
}
.one {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 2rem;
    padding-left: 2rem;
}
.one button {
    border: none;
    background-color: white;
    cursor: pointer;
}
.searchDiv, .profileDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
.profileDiv #propic {
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
}
.searchDiv {
    flex-grow: 1;
}
.profileDiv {
    padding-left: 2rem;
    font-weight: 500;
}
.searchDiv input {
    height: 1.5rem;
    width: 80%;
    background-color: rgba(236, 233, 233, 0.801);
    border: none;
    border-radius: 20px;
}

.two {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
}

#greetings {
 font-size: 0.5rem;
 display: flex;
 flex-direction: row;
 align-items: center;
 padding-left: 2rem;
 gap: 1rem;
}

#greetings p, h1 {
    margin-top: 0;
    margin-bottom: 0;
}

#greetings img {
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
}
#buttons {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding-right: 2rem;
}
#buttons button {
    height: 2rem;
    padding: 0.1rem 1.5rem;
    display: flex;
    align-items: center;
    color: white;
    font-weight: 600;
    background-color: #2563eb;
    cursor: pointer;
    border: none;
    border-radius: 20px;
}
#buttons button:hover {
    background-color: #5080e9ec;
}

#midBar {
    background-color: rgba(236, 233, 233, 0.801);
    display: grid;
    grid-template-columns: 3fr 1fr;
    font-size: 0.8rem;
    font-weight: 500;
    align-items: center;
    height: 2rem;
    padding-left: 1.2rem;
    gap: 4rem;
    margin-bottom: -1rem;
}
.tag {
    height: 100%;
    display: flex;
    align-items: end;
    
}

section {
    background-color: rgba(236, 233, 233, 0.801);
    flex-grow: 1;
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-top: 1rem;
}

#projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 1rem;
    gap: 2rem;
}
.box {
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    font-size: 0.5rem;
    display: flex;
    flex-direction: column;
    border-left: solid;
    border-color: orange;
    border-width: 4px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.interactions {
   flex-grow: 1;
   align-self: flex-end;
   align-content: end;
}
.interactions img {
    cursor: pointer;
}

#trending {
    display: grid;
    grid-template-rows: 4fr 0.5fr 4fr;
    padding: 1rem;
}
.banner {
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    font-size: 0.4rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.trendingBar {
    font-size: 0.8rem;
    font-weight: 500;
    display: flex;
    align-items: center;
}
.first {
    display: grid;
    grid-template-rows: repeat(1fr);
}

.second {
    display: grid;
    grid-template-rows: repeat(1fr);
    font-size: 0.5rem;
    padding: 0.5rem 1rem;
}

.profileTag {
    display: grid;
    grid-template-columns: 1fr 8fr;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}

.second img {
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    
}